.chat {
  position: relative;
  top: 57px;
  overflow: auto;
  min-width: 1600px;
  height: calc(100vh - 57px);
  :global {
    .ant-list .ant-list-item {
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background-color: #ffffff;
      }
    }
  }
  .chatLeft {
    height: 90px;
    .chatLeftHeader {
      height: 100%;
    }
    .chatLeftMain {
      .messageWatched {
        overflow: hidden;
        margin: 0px;
        color: black;
        font-weight: 200;
      }
      .messageNotWatched {
        overflow: hidden;
        margin: 0px;
        color: black;
        font-weight: 700;
      }
      .title {
        overflow: hidden;
        margin: 0px;
        color: black;
        font-size: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .titleNotWatched {
        font-weight: 700;
      }
      .titleWatched {
        font-weight: 400;
      }
      .circle {
        width: 6px;
        height: 6px;
        background-color: #db5534;
        border-radius: 50%;
      }
      .available {
        position: absolute;
        left: 20px;
        top: 22px;
      }
    }
  }
  .chatRight {
    border-left: 1px solid #c2c2c2;
    box-shadow: -5px 0 10px rgb(187 178 178 / 50%);

    .chatRightHeader {
      height: 90px;
    }
    .chatRightBody {
      height: calc(100% - 90px);
      padding: 0px 50px;
      flex-direction: column;
      .chatBody {
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .chatItem {
          height: auto;
          display: flex;
          align-items: center;
          .chatContent {
            margin: 10px 0px;
            background-color: white;
            padding: 10px;
            height: auto;
            border-radius: 10px;
            width: max-content;
          }
        }
        .chatItemMy {
          margin-left: auto;
          .chatContent {
            background-color: #e8ebfa;
          }
        }
      }
    }
  }
}
