.dashboardProjectAddIssue {
  height: auto;
  //   background-color: #ffffff;
  padding: 30px;
  :global {
    .ql-editor {
      height: 200px !important;
    }
    .ant-form-item .ant-form-item-label {
      text-align: start !important;
    }
    #formAddIssue_stateId {
      margin: 0px;
    }
    .ant-col-12 {
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
      justify-content: center;
      // border-bottom: 1px solid #999;
    }
  }
  .addIssueMain {
    padding: 20px;
    border: solid 1px #c2c2c2;
    background-color: #ffffff;
    .itemInput {
      border-bottom: 2px solid #bdbdbd;
      margin-bottom: 0px;
      padding: 10px 0px;
      align-items: start;
    }
  }
}
