.dashboardProjectSettingGeneral {
  min-height: 89vh;
  background-color: #ffffff;
  padding: 30px;
  h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}
