.dashboardProjectIssues {
  padding: 10px 30px;
  .topSearch {
    margin-bottom: 20px;
    .searchState {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .itemState {
        border: none;
        cursor: pointer;
        font-weight: 500;
        padding: 3px 10px;
        border-radius: 20px;
        font-size: 1.5rem;
        &:hover {
          background-color: black;
          color: white;
          padding-top: 6px;
        }
      }
      .itemStateIsSearch {
        background-color: black;
        color: white;
        padding-top: 6px;
      }
    }
    .searchOther {
      margin-top: 25px;
      display: flex;
      :global {
        .ant-select-single,
        .ant-input {
          margin-right: 25px;
          border: 1px solid #999;
          .ant-select-selector {
            border-radius: 0px;
          }
        }
        .ant-select-selector {
          border: 0px;
        }
      }
    }
  }
}
